examples/n8n-dockpilot-workflow.json
{
  "name": "DockPilot DevOps Assistant",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "dockpilot-assistant",
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000002",
      "name": "DevOps Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [280, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a DevOps assistant that deploys and manages Docker containers through the dockpilot API.\n\nBuilt-in services (deploy by name only — no image needed):\n- mongodb  → mongo:latest, port 27017\n- redis    → redis:latest, port 6379\n- postgres → postgres:latest, port 5432  (user: admin / pass: admin123 / db: appdb)\n- nginx    → nginx:latest, port 8080→80\n\nFor any other service, ask for the Docker image if the user has not provided one.\n\nWorkflow:\n1. When a developer asks to deploy a service, call deploy_service.\n2. After deploying, call service_status to confirm it is running and show the port.\n3. If deploy fails with \"already exists\", report the current status and ask whether to redeploy (remove then deploy).\n4. When removing a service, always ask before also deleting its volumes (data loss is permanent).\n5. If asked to \"set up\" multiple services (e.g. a full stack), deploy them one by one in a sensible order (databases first, then apps).\n6. Keep responses concise — show the port and state, skip verbose explanations.",
          "maxIterations": 15
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000003",
      "name": "Ollama (Active — local)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [600, 60],
      "credentials": {
        "ollamaApi": {
          "id": "",
          "name": "Ollama account"
        }
      },
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000004",
      "name": "Gemini (Swap in)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [600, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini account"
        }
      },
      "parameters": {
        "modelName": "gemini-1.5-flash",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000005",
      "name": "health_check",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 360],
      "parameters": {
        "name": "health_check",
        "description": "Verify that dockpilot is running and can reach the Docker daemon. Call this if the user reports issues or to confirm everything is up before starting work.",
        "method": "GET",
        "url": "http://host.docker.internal:8088/health",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000006",
      "name": "list_builtin_services",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 500],
      "parameters": {
        "name": "list_builtin_services",
        "description": "List all pre-configured service definitions in dockpilot (mongodb, redis, postgres, nginx). Returns each service's name, image, default ports, and volumes. Use this when the user asks what services are available or supported.",
        "method": "GET",
        "url": "http://host.docker.internal:8088/v1/services",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000007",
      "name": "deploy_service",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 640],
      "parameters": {
        "name": "deploy_service",
        "description": "Deploy a Docker container via dockpilot.\n\nservice_name: required. The container name (e.g. 'mongodb', 'redis', 'my-api').\nbody: required. JSON string for the request body.\n  - For built-in services (mongodb/redis/postgres/nginx): use '{}'\n  - For custom services: '{\"image\":\"repo/name:tag\",\"ports\":[\"8080:80\"],\"volumes\":[\"volname:/mountpath\"],\"env\":[\"KEY=value\"]}'\n  Only include the fields you need; all are optional except image for non-built-ins.",
        "method": "POST",
        "url": "={{ 'http://host.docker.internal:8088/v1/services/' + $fromAI('service_name', 'Service name to deploy, e.g. mongodb, redis, my-api') + '/deploy' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON body. Use {} for built-ins (mongodb/redis/postgres/nginx). For custom services: {\"image\":\"repo/img:tag\",\"ports\":[\"8080:80\"],\"volumes\":[\"vol:/path\"],\"env\":[\"K=V\"]}') }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000008",
      "name": "service_status",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 780],
      "parameters": {
        "name": "service_status",
        "description": "Get the runtime status of a deployed container: whether it is running, its image, port bindings, and current state. Call this after every deploy to confirm success.",
        "method": "GET",
        "url": "={{ 'http://host.docker.internal:8088/v1/services/' + $fromAI('service_name', 'The service name to check status for, e.g. mongodb') + '/status' }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000009",
      "name": "service_logs",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 920],
      "parameters": {
        "name": "service_logs",
        "description": "Fetch recent stdout/stderr logs from a running container. Use for troubleshooting startup failures or errors.",
        "method": "GET",
        "url": "={{ 'http://host.docker.internal:8088/v1/services/' + $fromAI('service_name', 'The service name to fetch logs from') + '/logs?tail=' + $fromAI('tail', 'Number of log lines to return, default 50') }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000010",
      "name": "remove_service",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 1060],
      "parameters": {
        "name": "remove_service",
        "description": "Stop and remove a deployed container. Optionally delete its named volumes (WARNING: permanently destroys data). Only delete volumes when the user explicitly confirms.",
        "method": "DELETE",
        "url": "={{ 'http://host.docker.internal:8088/v1/services/' + $fromAI('service_name', 'The service name to remove, e.g. mongodb') + '?volumes=' + ($fromAI('volumes', 'Comma-separated named volume names to also delete, e.g. dockpilot-mongodb-data — or empty string to preserve data') || '') }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000011",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, -240],
      "parameters": {
        "content": "## Active model: Ollama (local, free, no API key)\n\nOllama runs inside Docker — no quota, no billing.\n\n**Setup (one time):**\n```\n# Deploy Ollama\nstackpilot stack deploy examples/platform.yaml\n\n# Pull the model (~2 GB)\ndocker exec dockpilot-platform-ollama ollama pull llama3.2:3b\n```\n\n**Credential (no API key needed):**\nCredentials → Add → Ollama\nBase URL: `http://host.docker.internal:11434`\n\n---\n\n## Swap to a cloud model\n1. Delete the wire from **Ollama (Active)** → DevOps Assistant\n2. Connect **Gemini (Swap in)** → DevOps Assistant\n3. Add Gemini credentials (Google AI Studio API key)\n\n---\n\n## dockpilot URL\nAll tools point to `host.docker.internal:8088`.\nStart dockpilot with:\n```\n./dockpilot server --host 0.0.0.0\n```",
        "height": 380,
        "width": 380,
        "color": 4
      }
    }
  ],
  "connections": {
    "Chat": {
      "main": [
        [{"node": "DevOps Assistant", "type": "main", "index": 0}]
      ]
    },
    "Ollama (Active — local)": {
      "ai_languageModel": [
        [{"node": "DevOps Assistant", "type": "ai_languageModel", "index": 0}]
      ]
    },
    "health_check": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "list_builtin_services": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "deploy_service": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "service_status": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "service_logs": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "remove_service": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": ""
  }
}
