examples/n8n-dockpilot-workflow.json
{
  "name": "DockPilot DevOps Assistant",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000001",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "webhookId": "dockpilot-assistant",
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000002",
      "name": "DevOps Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [280, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a DevOps assistant that deploys and manages Docker containers.\n\nArchitecture: n8n → stackpilot → dockpilot → Docker\n\nDEPLOYING:\n- Always use deploy_stack. Generate a YAML stack definition and call it.\n- Use stack name \"dev\" for general dev services, or a descriptive name for a full app stack.\n- Place databases in depends_on before the apps that need them.\n- After deploying stack \"dev\" with service \"redis\", check status using service_name \"dev-redis\".\n\nYAML format:\n```\nname: <stack-name>\nservices:\n  <service-key>:\n    image: <docker-image>\n    ports:\n      - \"host:container\"\n    volumes:\n      - \"volname:/path\"\n    env:\n      - KEY=VALUE\n    depends_on:\n      - other-service-key\n```\n\nKnown service defaults (use these when generating YAML):\n- mongodb  → image: mongo:latest, ports: [\"27017:27017\"], volumes: [\"dev-mongodb-data:/data/db\"]\n- redis    → image: redis:latest, ports: [\"6379:6379\"]\n- postgres → image: postgres:latest, ports: [\"5432:5432\"], env: [POSTGRES_USER=admin, POSTGRES_PASSWORD=admin123, POSTGRES_DB=appdb], volumes: [\"dev-postgres-data:/var/lib/postgresql/data\"]\n- nginx    → image: nginx:latest, ports: [\"8080:80\"]\n\nFor any other service, ask for the Docker image if not provided.\n\nWORKFLOW:\n1. Deploy → call deploy_stack with the YAML. The response includes per-service state and ports.\n2. If deploy fails with \"already exists\", report the current status and ask whether to redeploy.\n3. Remove a single service → call remove_service with \"{stack_name}-{service_key}\" (e.g. \"dev-redis\").\n4. Remove a whole stack → call remove_stack with the same YAML used to deploy.\n5. Always ask before deleting volumes — data loss is permanent.\n6. Keep responses concise — show port and state, skip verbose explanations.",
          "maxIterations": 15
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000003",
      "name": "Ollama (Active — local)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [600, 60],
      "credentials": {
        "ollamaApi": {
          "id": "",
          "name": "Ollama account"
        }
      },
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000004",
      "name": "Gemini (Swap in)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [600, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini account"
        }
      },
      "parameters": {
        "modelName": "gemini-1.5-flash",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000005",
      "name": "health_check",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 360],
      "parameters": {
        "name": "health_check",
        "description": "Verify that stackpilot and dockpilot are running. Call this if the user reports issues or to confirm everything is up before starting work.",
        "method": "GET",
        "url": "http://stackpilot:8089/health",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000006",
      "name": "list_builtin_services",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 500],
      "parameters": {
        "name": "list_builtin_services",
        "description": "List all pre-configured service definitions in dockpilot (mongodb, redis, postgres, nginx). Returns each service's name, image, default ports, and volumes. Use this when the user asks what services are available or supported.",
        "method": "GET",
        "url": "http://dockpilot:8088/v1/services",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000007",
      "name": "deploy_stack",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 640],
      "parameters": {
        "name": "deploy_stack",
        "description": "Deploy one or more services as a stack via stackpilot. Generate a YAML stack definition and POST it. Stackpilot resolves dependency order and calls dockpilot for each service in the correct sequence.\n\nThe response includes the deployed stack name and the state and ports of each service.",
        "method": "POST",
        "url": "http://stackpilot:8089/v1/stacks/deploy",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {yaml: $fromAI('stack_yaml', 'Complete stack YAML definition. Example:\\nname: dev\\nservices:\\n  redis:\\n    image: redis:latest\\n    ports:\\n      - 6379:6379')} }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000008",
      "name": "service_status",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 780],
      "parameters": {
        "name": "service_status",
        "description": "Get the runtime status of a single deployed container. Use service_name in the format \"{stack_name}-{service_key}\", e.g. \"dev-redis\" for the redis service in the dev stack.",
        "method": "GET",
        "url": "={{ 'http://dockpilot:8088/v1/services/' + $fromAI('service_name', 'Service name in format {stack}-{service}, e.g. dev-redis') + '/status' }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000009",
      "name": "service_logs",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 920],
      "parameters": {
        "name": "service_logs",
        "description": "Fetch recent stdout/stderr logs from a running container. Use service_name in the format \"{stack_name}-{service_key}\", e.g. \"dev-redis\". Use for troubleshooting startup failures or errors.",
        "method": "GET",
        "url": "={{ 'http://dockpilot:8088/v1/services/' + $fromAI('service_name', 'Service name in format {stack}-{service}, e.g. dev-redis') + '/logs?tail=' + $fromAI('tail', 'Number of log lines to return, default 50') }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000010",
      "name": "remove_service",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 1060],
      "parameters": {
        "name": "remove_service",
        "description": "Stop and remove a single deployed container. Use service_name in the format \"{stack_name}-{service_key}\", e.g. \"dev-redis\". Optionally delete its named volumes (WARNING: permanently destroys data — only when user explicitly confirms).",
        "method": "DELETE",
        "url": "={{ 'http://dockpilot:8088/v1/services/' + $fromAI('service_name', 'Service name in format {stack}-{service}, e.g. dev-redis') + '?volumes=' + ($fromAI('volumes', 'Comma-separated named volume names to also delete, or empty string to keep data') || '') }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000012",
      "name": "remove_stack",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [600, 1200],
      "parameters": {
        "name": "remove_stack",
        "description": "Remove all services in a stack via stackpilot. Tears down in reverse dependency order (apps before databases). Provide the same YAML used to deploy the stack.\n\nSet volumes to true only when the user explicitly confirms they want to delete persistent data.",
        "method": "POST",
        "url": "http://stackpilot:8089/v1/stacks/remove",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {yaml: $fromAI('stack_yaml', 'The stack YAML to remove — same format as deploy_stack'), volumes: $fromAI('volumes', 'true to also delete named volumes (permanent data loss), false to preserve data')} }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0000-0000-000000000011",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [560, -280],
      "parameters": {
        "content": "## Architecture: n8n → stackpilot → dockpilot\n\n## Active model: Ollama (local, free, no API key)\n\n**Setup (one time):**\n```\n# Build images (from each repo root)\ndocker build -t dockpilot:latest ./dockpilot\ndocker build -t stackpilot:latest ./stackpilot\n\n# Start the platform\ncd stackpilot/examples\ndocker compose -f platform-compose.yml up -d\n\n# Pull the LLM model (~2 GB)\ndocker exec examples-ollama-1 ollama pull llama3.2:3b\n```\n\n**Credential (no API key needed):**\nCredentials → Add → Ollama\nBase URL: `http://ollama:11434`\n\n---\n\n## Swap to a cloud model\n1. Delete the wire from **Ollama (Active)** → DevOps Assistant\n2. Connect **Gemini (Swap in)** → DevOps Assistant\n3. Add Gemini credentials (Google AI Studio API key)\n\n---\n\n## Service URLs\n- stackpilot: `stackpilot:8089`\n- dockpilot:  `dockpilot:8088`",
        "height": 420,
        "width": 380,
        "color": 4
      }
    }
  ],
  "connections": {
    "Chat": {
      "main": [
        [{"node": "DevOps Assistant", "type": "main", "index": 0}]
      ]
    },
    "Ollama (Active — local)": {
      "ai_languageModel": [
        [{"node": "DevOps Assistant", "type": "ai_languageModel", "index": 0}]
      ]
    },
    "health_check": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "list_builtin_services": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "deploy_stack": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "service_status": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "service_logs": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "remove_service": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    },
    "remove_stack": {
      "ai_tool": [
        [{"node": "DevOps Assistant", "type": "ai_tool", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": ""
  }
}
